@charset "UTF-8";

:root{
 
 /* === Cores de fundo === */
      /* Fundo principal */
  --bg-primary: #161c27;      
  --bg-secondary: #2E3B55;   

  /* === Cores de texto === */
  --text-primary: #F5F7FA;    /* Títulos */
  --text-regular: #D1D9E6;    /* Texto comum */
  --text-secondary: #A9B4C2;  /* Texto auxiliar */
  --text-disabled: #6C7A89;   /* Texto desativado */
  --text-title: rgb(245, 247, 250);       
  --text-regular: rgb(209, 217, 230);     
  --text-secondary: rgb(169, 180, 194);   
  --text-disabled: rgb(22, 80, 187);    


  /* === Cores de ação === */
  --link: #00C9DB;
  --link-hover: #66E0EA;
  --highlight: #FFC857;
  --error: #FF6B6B;
  --text-link: rgb(0, 201, 219);         
  --text-link-hover: rgb(102, 224, 234);  
  --text-highlight: rgb(255, 200, 87);    
  --text-error: rgb(255, 107, 107); 

  /* === Sombras e bordas opcionais === */
  --shadow: rgba(0, 0, 0, 0.25);
  --border-color: #3A475E;

}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: var(--bg-secondary);
    
}

#fundo {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}


header {   
    background-color: var(--bg-primary);
    color: var(--text-disabled);
    background-size: 100dvh;
    margin: 0;
}

header p, h1 {
    text-align: end;
}

h1 {
    transform: translateY(150px);
    font-size: 50px;
    color: var();
}

#hello {
    transform: translateY(150px);
    color: rgb(10, 99, 7);
}

header p {
    font-size: 40px;
}

header img {
    align-items: center;
    transform: translate(10px, -5px);
    width: 310px;
    height: 310px;
} 

#bola{
    background-color: var(--text-disabled);
    border-radius: 50%;
    width: 310px;
    height: 300px;   
    overflow: hidden;
}



.img1{
    height: 1000px;
    animation: Subir 55s linear infinite alternate;
 
}


@keyframes Subir{
    0%{
        transform: translateY(00px);
    }
    100%{
        transform: translateY(-650px);
    }
}

.cursor{
    animation: cursor .2s linear alternate infinite;
}

@keyframes cursor {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}